<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3><%= ["raushan " ,"kumar","Golu"][1]  %></h3>
    <h4><%= "raushan".toUpperCase() %></h4>
    <h4><%= 1+2+3 %></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Ratione quasi dicta, fugit similique natus optio quas culpa architecto eveniet doloribus.
         Quidem culpa ullam est? Quas tempore sint obcaecati earum reprehenderit.
    </p>

    <button>click me</button>

    
</body>
</html>