<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User Form</h2>
    
    <form action="/submit" method="post">
        <label>Name:</label>
       <input type="text" placeholder="Enter name" name="name">

        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter your emal">

        <label>Age:</label>
        <input type="number" name="age" placeholder="Enter your age">

        <button type="submit">Submit</button>
    </form>
    
</body>
</html>